<html>
<head>
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script>
  $(document).ready( function(){

    // console.log("YO");
    $('#formOne').submit(function(){
      $('#formOne').hide();
      $('#loader').show();
      console.log("SUBMITTED");
      var userName = $('#nameInput').val();
      var pastJobs = $('#pastJobsInput').val();
      var targetJob = $('#targetJobInput').val();
      var jsData = {
        'userName': userName,
        'pastJobs': pastJobs,
        'targetJob': targetJob
      };
      console.log(jsData);
      $.ajax({
        type: "POST",
        data: JSON.stringify(jsData),
        url: '/api/v1/getSkills',
        contentType: 'application/json;charset=UTF-8',
        success: function(data) {
          $('#loader').hide();
          console.log(data);
          for (key in data){
            console.log(data[key]);
            my_dict = data[key];
            for (skill in my_dict){
              console.log(skill);
              // $('#postings').append('<div id='+skill+'id>');
              $('#postings').append('<h4>'+skill+'</h4>');
              for (var idx = 0; idx < my_dict[skill].length; idx++){
                console.log(my_dict[skill][idx]['title']);
                $('#postings').append('<h6>'+my_dict[skill][idx]['title']+'</h6>')
              }
              // $('#postings').append('</div>');
              console.log("\n");
            }
          }
        }
    });
      return false;
    });
  });

  </script>
  <div class="centered">
    <h3>DreamGig</h3>
    <div id="loader" style="display:none;">
      <p>Loading gigs for you...</p>
      <div  class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
    </div>
  <form id="formOne">
    <label>Enter Name:</label>
    <input id="nameInput"></input><br>
    <label>Past Jobs (O-Net Category):</label>
    <input id="pastJobsInput"></input><br>
    <label>Target Job (O-Net Category):</label>
    <input id="targetJobInput"></input><br>
    <input type="submit" value="Submit">
  </form>
  <div id="postings">
  </div>
</div>
</body>
</html>
